.card {
  max-width: 350px;
  border: 1px solid rgba(129, 121, 121, 0.582);
  border-radius: 7px;
  padding: 20px;
}
.card__title {
  font-weight: bold;
  color: black;
}
.card__subtitle {
  color: black;
}

.card__author {
  color: black;
}

.card__author span {
  color: blue;
}
